h2 Login!

div Please enter your username and password to checkout

br

div Username:
	input#username(type="text")

br

div Password:
	input#password(type="text")

br

button(type="button" onclick="login()") Login

script(src="/bookstoreClient.js")


