html

	head
		title Look INNA Book

	body

		h1 Welcome Owners and Managers!

		h2 Please select!

		a#inventoryPage(href="/owners/updateInventory") Update Inventory
			
		br

		a#salesReportPage(href="/owners/salesReports") View Sales Reports
