html

	head
		title Look INNA Book

	body

		h1 Welcome to Look INNA Book!

		h2 Please select!

		a#searchBooksPage(href="/store/searchBooksPage") Buy Books
			
		br

		a#searchOrdersPage(href="/store/searchOrders") Track My Orders
